.t1{width: 1500px;height: 200px;}

.h1{ color: rgb(12, 14, 9);position: relative;left: 500px;top:0px;}

.h2{padding-left: 35px;position: relative;top: 0px;}

.hr1{width:60%;position: relative;right: 300px;


}
/* ------------------------------------------------------------ */


.t2{width:1450px;height: 200px;margin-bottom: 20px; margin-left: 20px;}
.divtd1{padding-bottom: 95px;}
.divtd3{padding-bottom: 95px;}
.divtd4{padding-bottom: 95px;}
.divtd5{padding-bottom: 140px;padding-left: 0px;}
.divtd6{padding-top: 50%;padding-left: 50px;}


/* ------------------------------------------------------------------- */
.tdm4{width: 760px;}
.tdm5{width: 470px;}






/* -------------------------------------------------------------- */
.div1 { width: 1500px;height: 200px;}

.t3{ width: 1500px;height: 200px; margin-left: 20px; }


/* -------------------------------------------- */
.h22{
padding-left:0px;
padding-right: 0px;}



/* msh3 */
.m1{width: 500px;height: 500px;}
.tdm1{width: 500px;height: 500px;}
.tdm2{width: 600px;height: 600px;}
.B3{background-color: aquamarine;}




/* ###############################
.t1{width: 1500px;height: 200px;border-color: yellow;}

.h1{ color: rgb(12, 14, 9);position: relative;left: 500px;top:0px;}

.h2{padding-left: 35px;position: relative;top: 0px;}

.hr1{width:60%;position: relative;right: 300px;


}
/* ------------------------------------------------------------ */


/* .t2{width:1450px;height: 200px;margin-bottom: 20px; margin-left: 20px;}
.divtd1{padding-bottom: 95px;}
.divtd3{padding-bottom: 95px;}
.divtd4{padding-bottom: 95px;}
.divtd5{padding-bottom: 140px;padding-left: 0px;}
.divtd6{padding-top: 50%;padding-left: 50px;}


/* ------------------------------------------------------------------- */
/* .tdm4{width: 760px;}
.tdm5{width: 470px;}


 */



/* -------------------------------------------------------------- */
/* .div1 { width: 1500px;height: 200px;}

.t3{ width: 1500px;height: 200px; margin-left: 20px; }
 */

/* -------------------------------------------- */
/* .h22{background-color: aqua;
padding-left:0px;
padding-right: 0px;}
 */


/* msh3 */
/* .m1{width: 500px;height: 500px;}
.tdm1{width: 500px;height: 500px;}
.tdm2{width: 600px;height: 600px;}
.B3{background-color: aquamarine;}
 */

 